.container{
    background-color: #D3D3D3;
    padding: 10px;
    display: inline;
    margin-right: 1rem;
    list-style: none;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
ul{
    display: flex;
    margin-right: 16px;
    justify-content: space-around;
}